body{
    background-color: whitesmoke;
    margin: 0px;
}


.container h2{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}

.grid{
    /* margin: 100px 10px 50px 180px; */
    margin: 50px 50px 50px 220px;
    display: grid;
    grid-template-columns: repeat(3,2fr);
    grid-gap: 100px;
    align-items: center;
    /* margin-right: 5px; */
    padding-right: 800px; 
    /* border-radius: 20%; */
    /* background-color: bisque; */
    
}

.grid > article{
    background-color: bisque;
    border: none;
    box-shadow: 2px 2px 6px 0px (0,0,0,0,3);
    border-radius: 10%;
    text-align: center;
    width: 300px;
    transition: .3s;
}

.text{
    /* display: flex; */
    align-items: center;
    justify-content: center;
}

.grid img{
    padding-top: 20px;
    width: 80%;
    height: 80%;
    border-radius: 15%;
}

.toggle{
    /* display: flex; */
    /* align-items: center; */
    justify-content: center;
    display: flex;
    text-align: center;
    font-size: 20px;
    color: black;


}

.toggle #design{
    padding: 30px;
    text-decoration: none;
}

.toggle #technology{
    padding: 30px;
    text-decoration: none;
}

.toggle #business{
    padding: 30px;
    text-decoration: none;
}

.grid2 {
    margin: 50px 50px 50px 220px;
    display: block;
    /* display: grid; */
    /* grid-template-columns: repeat(3,3fr); */
    /* grid-gap: 100px; */
    align-items: center;
    margin-right: 5px;
    padding-right: 800px; 
}

.design article {
    background-color: bisque;
    border: none;
    box-shadow: 2px 2px 6px 0px (0,0,0,0,3);
    border-radius: 10%;
    text-align: center;
    width: 300px;
    transition: .3s;
}

.text2{
    align-items: center;
    justify-content: center;
    /* padding-bottom: 2px; */
}

.design img{
    padding-top: 20px;
    width: 80%;
    height: 80%;
    border-radius: 15%;
}

.technology article{
    background-color: bisque;
    border: none;
    box-shadow: 2px 2px 6px 0px (0,0,0,0,3);
    border-radius: 10%;
    text-align: center;
    width: 300px;
    transition: .3s;
}

.technology img{
    padding-top: 20px;
    width: 80%;
    height: 80%;
    border-radius: 15%;
}

.business img{
    padding-top: 20px;
    width: 80%;
    height: 80%;
    border-radius: 15%;
}

.business article{
    background-color: bisque;
    border: none;
    box-shadow: 2px 2px 6px 0px (0,0,0,0,3);
    border-radius: 10%;
    text-align: center;
    width: 300px;
    transition: .3s;
}

.business img{
    padding-top: 20px;
    width: 80%;
    height: 80%;
    border-radius: 15%;
}

.technology{
    /* display: none; */
    display: none;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 100px;
    align-items: center;
    padding-bottom: 20px;

}

.business{
    display: none;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 100px;
    align-items: center;
    padding-bottom: 20px;
}

.design{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 100px;
    align-items: center;
    padding-bottom: 20px;

}

/* .jabatan1{
    background-color:navajowhite;
    color: #000;
    display:flex;
    text-align: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 50px;
    height: 60px;
    
}

.jabatan2{
    background-color:navajowhite;
    color: #000;
    display:flex;
    text-align: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 50px;
    height: 60px;
}

.jabatan3{
    background-color:navajowhite;
    color: #000;
    display:flex;
    text-align: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 50px;
    height: 60px;
} */

.text h5 {
    height: 10px;
    width: 300px;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    background-color: navajowhite;
}

