/* Universal */

* {
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
    font-family: "Poppins";
    color: white;
}

h1 {
    font-size: 38px;
    font-weight: 500;
}

h2 {
    font-size: 30px;
    font-weight: 500;
}

h3 {
    font-size: 18px;
    font-weight: 500;
}

p {
    font-size: 14px;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

body {
    background-color: #0E0A4D;
}


/* Nav */

.navbar {
    z-index: 100;
    overflow: hidden;
    /* position: fixed; */
    top: 0;
    width: 100%;
}

header {
    z-index: 100;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 5%;
    /* background-color: rgba(0, 0, 0, 0.14); */
    height: 4.5rem;
    margin-top: 1rem;
}

.logo {
    display: flex;
    justify-content: space-between;
    gap: 0.5em;
    text-align: center;
    margin-right: auto;
    width: 3rem;
    height: auto;
    text-decoration: none;
}

.logo img {
    height: 3rem;
}

.name {
    color: black;
    font-weight: 400;
}

nav {
    height: 100%;
}

.nav__links {
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav__links a {
    font-size: medium;
    font-weight: 300;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}

.nav__links li {
    padding: 0 20px;
    display: flex;
    align-items: center;
    height: 60%;
}

.nav__links li a:hover {
    color: #0088a9;
}

.sign-in {
    padding: 3px 15px;
    background-color: rgba(217, 37, 8, 1);
    border-radius: 25px;
}


/* home */

#home {
    /* height: 100vh; */
    /* padding: 2rem; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.home-container {
    text-align: left;
    width: 80%;
    height: 90%;
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 1rem;
}

.home-title>h1 {
    text-align: center;
    letter-spacing: 8px;
    font-size: 64px;
    font-weight: 600;
    background-image: linear-gradient(180deg, rgba(233, 79, 17, 0) 11.42%, rgba(233, 79, 17, 0) 11.43%, #FF725E 73.53%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.home-content {
    display: flex;
    flex-direction: row;
    column-gap: 5rem;
    width: 100%;
    justify-content: space-between;
}

.home-description {
    padding-left: 0.7rem;
    border-left: 3px solid white;
}

.home-description>h3 {
    font-size: 24px;
}

.home-description>h3 {
    font-weight: 400;
}

.home-register {
    height: 3rem;
    width: 12rem;
    border-radius: 10px;
    background-color: rgba(217, 37, 8, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.home-register>a {
    font-weight: 200;
    color: white;
}

.home-video {
    /* margin-top: 3rem; */
}

video {
    height: 45vh;
    border-radius: 30px;
    ;
}


/* About */

#about {
    /* height: 100vh; */
    padding: 2rem 7rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
    column-gap: 3rem;
}

.about-left {
    width: 60%;
}

.about-right {
    text-align: right;
    margin-top: 4rem;
}

.about-right>div>h1 {
    margin-bottom: 1.5rem;
    background: linear-gradient(183.37deg, #E94F11 22.31%, #FF725E 89.19%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    font-weight: 500;
}

.about-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2rem;
}

.about-register {
    height: 4rem;
    width: 14rem;
    background-color: rgba(217, 37, 8, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
}

.about-guidebook {
    height: 4rem;
    width: 14rem;
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
}

.about-left>img {
    height: 60vh;
}


/* Prizes */

#prizes {
    height: 100vh;
    padding: 2rem 7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    row-gap: 3rem;
}

.prizes-cols {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 3rem;
}

.prizes-cols>div>img {
    width: 100%;
}


/* Timeline */

#timeline {
    height: 100vh;
    padding: 2rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    row-gap: 3rem;
}

.timeline-container {
    display: flex;
    flex-direction: row;
}

.timeline-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.timeline-content>div>h1 {
    text-align: left;
    margin: 0 0 3rem 1rem;
    background: linear-gradient(187.13deg, rgba(233, 79, 17, 0) 11.42%, rgba(233, 79, 17, 0) 11.43%, #FF725E 73.53%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

#timeline>img {
    height: 70vh;
}


/* FAQ */

#faq {
    /* height: 100vh; */
    padding: 4rem 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    row-gap: 3rem;
}

.faq-content {
    display: flex;
    flex-direction: row;
    column-gap: 5rem;
}

.faq-astronaut>img {
    height: 35rem;
}

.accordion {
    background-color: transparent;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    border-bottom: 1px solid white;
}

.active,
.accordion:hover {
    background-color: transparent;
    color: white;
}

.accordion:after {
    content: '+';
    color: #FFFFFF;
    /* Unicode character for "plus" sign (+) */
    font-size: 18px;
    font-weight: 600;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: '-';
    /* Unicode character for "minus" sign (-) */
}

.panel {
    padding: 0px 18px;
    background-color: transparent;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    color: white;
    text-align: left;
}


/* Footer */

footer {
    /* width: 100%; */
    /* height: 50vh; */
    padding: 2rem 5rem;
    display: flex;
    flex-direction: column;
    background: linear-gradient(71.1deg, rgba(38, 9, 99, 0.35) 21.13%, rgba(28, 63, 154, 0.35) 61.43%, rgba(14, 10, 77, 0.35) 99.29%);
    justify-content: space-between;
    color: white;
}

.footer-container {
    display: flex;
    flex-direction: row;
    margin: 2rem 0;
}

.footer-left {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.footer-social {
    display: flex;
    flex-direction: row;
    column-gap: 0.6rem;
    margin: 1rem 0 2rem 0;
    align-items: center;
}

.footer-bncc {
    margin-top: 1rem;
    width: 240px;
}

.footer-right {
    width: 40%;
}

.footer-wrapper {
    width: 100%;
}

.footer-form {
    display: flex;
    flex-direction: column;
    margin: 1rem 0 2rem 0;
    row-gap: 0.8rem;
    width: 100%;
    align-items: flex-end;
}

.footer-form>input[type="text"],
.footer-form>input[type="email"] {
    background-color: transparent;
    height: 3rem;
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
}

.footer-form>textarea {
    background-color: transparent;
    padding: 1rem 1rem;
    border: 1px solid #ccc;
    box-sizing: border-box;
    width: 100%;
    border-radius: 10px;
}

.footer-form>input[type="submit"] {
    height: 3rem;
    width: 12rem;
    background-color: rgba(11, 0, 78, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0px;
    border-radius: 15px;
    font-size: 18px;
}

.footer-copyright {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-copyright a {
    color: white;
    font-size: 14px;
    font-weight: 400;
}